.point {
  &__goBack.MuiButton-root {
    margin-bottom: 10px;
  }

  &__info {
    position: relative;
    text-align: center;

    &__image {
      display: flex;
      justify-content: center;
      margin-top: -30px;
    }

    &__name {
      font-size: 40px;
      color: #575757;
      transform: translateY(-20px);
    }

    &__address {
      margin-top: -50px;
    }

    &__settingsBtn__container {
      position: absolute;
      top: 50px;
      left: 20px;
    }
  }
}
